body{
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#navbar{
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 4, 57);
    margin: -10px;
    padding: 10px 20px;
    color: white;
}
.nav_div{
    display: flex;
    flex-direction: row;
}
#clg_name{
    position: relative;
    margin-left: 200px;
}
#links_div{
    /* display: flex; */
    float: right;
}
#links_nav{
    list-style: none;
}
.nav_a{
    float: right;
    margin-right: 30px;
    text-decoration: none;
    color: yellow;
}
.nav_a:hover{
    color: orange;
}

.description{
    margin-right:  auto;
    margin-top: 30px;
    padding: 5px;
    background-color: rgb(23, 1, 1);
    border-radius: 10px;
    border: 2px solid aqua;
    color: aliceblue;
}


.img_desc{
    height: 200px;
}
figure{
    display: grid;
    justify-content: center;
}

main{
    position: absolute;
    width: 75%;

}

aside{
    margin-top: 50px;
    border: 2px solid rgb(252, 252, 252);
    height: 500px;
    width: 24%;
    position: absolute;
    top: 0;
    right: 0;
    color: wheat;
    overflow: auto;
}
#container{
    position: relative;
}
#ul_aside{
    list-style: none;
}
.elem_aside{
    padding: 15px;
}
.links_aside{
    text-decoration: none;
    color: #6aff00;
}
.links_aside:hover{
    color: #ffff00;
}

footer {
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-top: 2px solid aqua;
    text-align: center;
    padding: 20px;
    bottom: 0;
    margin: 50px -10px -10px -10px;
    box-shadow: 0 0 30px aqua;
  }